
body{
  /*  background: url("/img/licores.jpg");*/
    background-color: rgb(10, 1, 1);
    background-size: cover;
   
}

.container {/*
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
     background: #312f2f;
   background: url("/img/licores.jpg");
   background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */}


.btn-primary .mt-2{
    align-items: center;
}

.vv{

color:aliceblue;

}

